body{
    background-color: beige;
    color:green;
}
.label{
    font-size: 12px;
    font-weight: bold;
}
.inputs{
    width: 15%;
    height: 20px;
    border-radius: 5px;
    border-color: blue;
}