
.container{
    padding: 100px;
}

img {
    width: 350px;
    height: 350px;
    margin: 10px;
}
.headers{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    background: #ea2e49;
   display:inline-block;
   margin-bottom:1em;
   padding:0.5em 1em;
    
}
.movies{
    list-style:decimal;
}
.footer-img{
    width: 100px;
    height: 100px;
}

